<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
   <div class="card">
    <%= team.name %>
    <p>
      <%= link_to "Show this team and players", team %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New team", new_team_path %>
