<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div class="d-flex flex-wrap justify-content-center" id="players">
  <% @teams.each do |team| %>
  <div class ='card'>
  <h5><%= team.name %></h5>
    <p>
    <br>
      <%= link_to "Show Team", team , class: "btn btn-primary" %>
    </p>
    </div>
  <% end %>

</div>
<%= link_to "New team", new_team_path,class: "btn btn-primary" %>
