 
<div id="<%= dom_id line_up %>">
    <strong>Name:</strong>
    <%= line_up.player.full_name %>
  </p>

  <p>
    <strong>Order Number:</strong>
    <%= line_up.order %>
  </p>
<p>
    <strong>Field Position:</strong>
    <%= line_up.field_position.try(:humanize) %>
  </p>


</div>
