<h1>New schedule</h1>

  <div class ='card'>
<%= render "form", schedule: @schedule %>

<br>

<div>
  <%= link_to "Back to schedules", schedules_path, class: "btn btn-success" %>
</div>
</div>
<br> 
<br>
