

.card { 
   padding: 2rem 3rem; 
   margin: 2rem 4rem;  
}


fieldset legend {
  float: none;
}

#navbarNav { 
   justify-content: space-between;
 }

#authentication {
   max-width: 20rem;
   margin: 0 auto;
}


#welcome {
   max-width: 50rem;
   margin: 0 auto;
}

.parent{
      display: inline-grid;
      grid-template-columns:1fr 1fr 1fr 1fr;
      gap: 40px
}

.displayed-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 100%;;
}

container {
  border: 1px solid #ccc;
  margin: 5px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  grid-row-gap: 15px;
}

.login-page-image {
     margin: 0; /* Remove default body margin */
     padding: 0; /* Remove default body padding */
     height: 100vh; /* Set body height to 100% of viewport height */
     background-image: url('/assets/field.JPG');
     background-position: center;
     background-size: cover;
     background-attachment: fixed; /* Fixed background image */
}



.app-page-image {
     margin: 0; /* Remove default body margin */
     padding: 0; /* Remove default body padding */
     height: 100vh; /* Set body height to 100% of viewport height */
     background-image: url(app/assets/images/field.JPG);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.custom-link {
     color: #000000; /* Set your desired color using hexadecimal, RGB, or color name */
     background-attachment: fixed; /* Fixed background image */
}
